@use "./_mixin" as mix;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 350px;
  background-image: linear-gradient(
      45deg,
      rgb(95 21 13 /50%),
      rgb(181 111 7 /51%)
    ),
    url("/Images/v1008-25-a.jpg");
  background-size: contain;
}

.header-content {
  &__img {
    position: absolute;
    right: 100px;
    bottom: 30px;
    width: 250px;
    height: 250px;
  }
  &__title,
  &__text {
    color: rgb(31, 14, 4);
    text-align: center;
  }
  &__title {
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__text {
    font-size: 35px;
    font-weight: 600;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 14, 4);
}

.searching {
  margin: 30px auto;

  &__input {
    width: 30vw;
    height: 5vh;
    text-align: center;
    border-radius: 15px;
  }
  &__answer {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #f2ad8a;
  }
  &__submit {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    @include mix.button;
    &:focus {
      outline: none;
    }
  }
}

.circle {
  @include mix.circle;
}

@keyframes zoom {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.sample-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
}

.dog-image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.info {
  background-color: rgb(255, 215, 171);

  display: none;
  flex-direction: column;
  align-items: center;

  &__back {
    @include mix.button;
    margin: 30px auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  &__card {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #320d12;
    border-radius: 10%;
    margin-top: 100px;
    overflow: hidden;
    font-size: 40px;
    text-transform: uppercase;

    .breed,
    .breedFor,
    .breedGroup,
    .lifeSpan,
    .temperament {
      padding: 10px;
      color: rgb(24, 10, 2);
    }

    p,
    .list {
      text-transform: lowercase;
    }
    .list {
      margin-bottom: 15px;
    }
    .temperament__list {
      margin-top: 15px;
      list-style: none;
    }

    .breedName {
      width: 100%;
      padding: 10px;
      background-color: #5a281e;
      color: #f2ad8a;
      font-size: 50px;
      text-transform: uppercase;
    }

    .breedImage {
      width: 100%;
      
      height: 400px;

      &__img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }

    .breedFor {
      width: 100%;
      background-color: #863746;
    }
    .breedGroup {
      width: 100%;
      background-color: #b8555b;
    }
    .lifeSpan {
      width: 100%;
      background-color: #f18177;
    }
    .temperament {
      width: 100%;
      background-color: #f2ad8a;
    }
  }
}
